<h1>Single random question</h1>
<p> <%= @rand.question %>  </p>
<p> Generate another random 
  <%= link_to "question", random_oneques_path %>
</p>
<p> Go back to
  <%= link_to "home", random_index_path %>
</p>